/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------ Styles ------------------ */
body{
    height: 100vh;
    box-sizing: border-box;
}

main{
    padding: 15px;
    display: flex;
    background-color: #F3F5FC;
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

#to-encrypt-section{
    display: block;
    width: 70%;
    text-align: center;
}

#logo-div{
    float: left;
}

#png-logo{
    height: 40px;
}

.tittles{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittles h2{
    
}

#to-encrypt-div{
    height: 80%;
    margin: 15px 0px;
}

#to-encrypt-area{
    width: 100%;
    height: 100%;
    border:none;
}

#encrypted-section{
    display: block;
    width: 30%;
    text-align: center;
}

#encrypted-div{
    height: 80%;
    margin: 15px 0px;
}

img{
    height: 100%;
}


button {
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: none;
}

button:nth-child(odd){
    color: #F3F5FC;
    background-color: #0A3871;
}

button:nth-child(even){
    color: #0A3871;
    background-color: #D8DFE8;
}

/* ------------------ Styles for Mobile Devices ------------------ */

@media only screen and (max-width: 600px) {

main{
    display: block;
}

#logo-div{
    float:none;
    margin: 10px;
}

#to-encrypt-section{
    width: 100%;
}

#encrypted-section{
    width: 100%;
    text-align: center;
}

#to-encrypt-area {
    width: 90%;
    height: 200px;
}

.buttons{
    margin: 15px;
}

img {
    height: 380px;
}

}